@inherits LayoutComponentBase

<MudThemeProvider />
<MudPopoverProvider />
<MudDialogProvider />
<MudSnackbarProvider />

<MudLayout>
    <MudAppBar Elevation="1">
        <MudIconButton Icon="Icons.Material.Filled.Menu" Color="Color.Inherit" Edge="Edge.Start" OnClick="@ToggleDrawer" />
        <MudSpacer />
        <MudText Typo="Typo.h6">EShop</MudText>
        <MudSpacer />
        <AuthorizeView>
            <Authorized>
                <MudButton Variant="Variant.Text" Color="Color.Inherit" Href="/basket">
                    <MudIcon Icon="Icons.Material.Filled.ShoppingCart" />
                    Basket
                </MudButton>
                <MudButton Variant="Variant.Text" Color="Color.Inherit" Href="/orders">
                    <MudIcon Icon="Icons.Material.Filled.Receipt" />
                    Orders
                </MudButton>
                <form action="/Account/Logout" method="post">
                    <MudButton ButtonType="ButtonType.Submit" Variant="Variant.Text" Color="Color.Inherit">
                        <MudIcon Icon="Icons.Material.Filled.Logout" />
                        Logout
                    </MudButton>
                </form>
            </Authorized>
            <NotAuthorized>
                <MudButton Variant="Variant.Text" Color="Color.Inherit" Href="/Login">
                    <MudIcon Icon="Icons.Material.Filled.Login" />
                    Login
                </MudButton>
            </NotAuthorized>
        </AuthorizeView>
    </MudAppBar>

    <MudDrawer @bind-Open="_drawerOpen" Elevation="1">
        <MudDrawerHeader>
            <MudText Typo="Typo.h6">Navigation</MudText>
        </MudDrawerHeader>
        <NavMenu />
    </MudDrawer>

    <MudMainContent>
        <MudContainer MaxWidth="MaxWidth.Large" Class="my-16 pt-16">
            @Body
        </MudContainer>
    </MudMainContent>
</MudLayout>

@code {
    bool _drawerOpen = false;

    void ToggleDrawer()
    {
        _drawerOpen = !_drawerOpen;
    }
}